{% extends 'base.html' %}
{% block content %}


    <h1>Edit user...</h1>


    <div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.username.label() }}<br>
        {{ form.username(class="form-control") }}
        <br>
        {{ form.email.label() }}<br>
        {{ form.email(class="form-control") }}
        <br>
        {{ form.password.label() }}<br>
        {{ form.password(class="form-control") }}

        <br>
        {{ form.password_confirm.label() }}<br>
        {{ form.password_confirm(class="form-control") }}

        <br><br>
        <a class="btn btn-danger" href="{{ url_for('delete_user', user_id=current_user.id) }}">delete user</a>

        <br><br>
        {{ form.submit(class="btn btn-success") }} <a class="btn btn-danger" href="{{ url_for('dashboard') }}">Cancel</a>
    </form>
    </div>

{% endblock %}
