{% extends 'base.html' %}
{% block content %}

<div class="card">
  <div class="card-header">
    {{ post.title }}
  </div>
  <div class="card-body">
    <h5 class="card-title">by: {{ post.author }}</h5>
    <p class="card-text">{{ post.content | safe }}</p>
    <a href="{{ url_for('index') }}" class="btn btn-primary">back</a>
    {% if current_user.username == post.author%}
      <a href="{{ url_for('delete_post', post_id=post.id) }}" class="btn btn-danger">delete</a>
    {% endif %}
  </div>
</div>

{% endblock %}